#q2, #q3, #q4, #q5 {
  display: none;
}

#suggestion img {
  width: 75%;
  margin: 0 auto;
  border: 5px solid black;
}

#redo {
  display: none;
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
  font-family: lobster;
  text-decoration: underline;
}

body {
  background-color: skyblue;
}

.vacation  {
  display: none;
  text-align: center;
}

.question-group {
  width: 50%;
  margin: 0 auto;
  border: 3px solid black;
}

.question-group h3 {
  font-family: lobster;
}

.question-group button {
  margin-top: 20px;
}

.red-text {
  font-size: 14pt;
  font-style: italic;
  color: red;
}
